/* Global Styling */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
}

/* Sidebar Styling */
.sidebar {
    width: 280px;
    background-color: #472f3b;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    height: 100vh;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); /* Floating Effect */
    border-radius: 20px 20px 20px 20px; /* Rounded Top and Bottom Edges */
    margin: 15px; 
}

.profile-section img.profile-pic {
    border-radius: 50%;
    width: 120px;
    height: 140px;
    margin-bottom: 10px;
}

.profile-name {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0;
}

.nav-links ul {
    list-style: none;
    padding: 0;
}

.nav-links ul li {
    margin: 25px 0; 
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px; 
    display: block;
}


/* Sidebar Hover Effect */
.sidebar nav a:hover {
    color: #ff5a14;
}

/* Main Content Styling */
main {
    flex-grow: 1;
    margin-left: 320px; /* Adjust margin-left for the floating sidebar */
    padding: 50px;
}

/* Full-page background image styling */
body {
    background: url(https://www.baltana.com/files/wallpapers-8/Hexagon-HD-Background-Wallpaper-24864.png) no-repeat center center fixed;
    background-size: cover; /* Ensures the background image covers the entire page */
}


/* Section Styling */
section {
    padding: 60px 0;
}

section h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    color: #ffea00;
    border-bottom: 2px solid #ffea00;
}

h3{
    color:#ddd;
}


section p, section ul {
    line-height: 1.6;
    color: #E6E6E6; 
}

section ul li {
    margin: 5px 0;
}

/* Welcome Section Styling */
.welcome-section {
    height: 100vh;                
    align-items: center;            
    justify-content: center;        
                 
}

.welcome-text {
    font-size: 48px;                
    color: #FF4500;     
    text-align: center;             
}


/* Scroll Behavior */
html {
    scroll-behavior: smooth;
}


/* Contact Section Styling */
#contact {
    padding: 50px 0;
    
}

.contact-info {
    display: flex;
    justify-content: center; /* Center the icons */
    gap: 50px;               /* Space between items */
    align-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.contact-item a {
    text-decoration: none;
    color: #f2274c90;          
    font-weight: bold;
    
}

.contact-item a:hover {
    color: #FF6347;          
}

.contact-item i {
    margin-right: 10px;       /* Space between icon and text */
    font-size: 24px;          
}

/* Styling for icons in Contact Me */
.contact-icon {
    width: 32px;              
    height: 32px;             
    margin-right: 15px;       /* Increase space between icon and text */
    vertical-align: middle;   /* Align icon with text */
}


/* Responsive Design for Mobile */
@media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
    }
}

